## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Korla,CN,77.56,overcast clouds,41.7597,86.1469,Gulisitan Hotel
1,8,Puerto Ayora,EC,76.96,light rain,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,10,Havelock,US,88.05,clear sky,34.8791,-76.9013,Sherwood Motel
3,17,Jamestown,US,78.12,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,18,Padang,ID,76.66,overcast clouds,-0.9492,100.3543,Mercure Padang

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = vacation_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

Cities:
- Havelock, North Carolina
- Jacksonville, Florida
- Houma, Louisiana
- Morgan City, Louisiana

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Morgan City']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Morgan City']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Houma']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Jacksonville']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Havelock']

In [66]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5:7]
end = vacation_end.to_numpy()[0][5:7]
stop1 = vacation_stop1.to_numpy()[0][5:7]
stop2 = vacation_stop2.to_numpy()[0][5:7]
stop3 = vacation_stop3.to_numpy()[0][5:7]

In [74]:
start

array([29.6994, -91.2068], dtype=object)

In [78]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
directions_layer = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(directions_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [82]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,596,Morgan City,US,79.99,overcast clouds,29.6994,-91.2068,Hampton Inn & Suites Morgan City
1,312,Houma,US,79.99,overcast clouds,29.5958,-90.7195,Courtyard by Marriott Houma
2,692,Jacksonville,US,88.02,broken clouds,30.3322,-81.6556,Hyatt Regency Jacksonville Riverfront
3,10,Havelock,US,88.05,clear sky,34.8791,-76.9013,Sherwood Motel

In [83]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
four_cities_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [89]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
four_cities_layer = gmaps.marker_layer(locations, info_box_content=four_cities_info)
fig.add_layer(four_cities_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))